<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear iconfont icon-homefill" nav-direction=back native-ui-sref="tab.main"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 我的</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg account " has-bouncing="true">
    <div class="list  ">
      <a nav-direction=forward ng-href="#/accountinfo" class="item item-avatar item-icon-right">
        <img ng-src="{{userdata.userfigure||img/head.jpg}}" class="border-radius-50" alt=""
             onerror="this.src='img/head.jpg'">
        <h2 ng-class={true:'padding-top'}[userdata.username==null&&userdata.nickname==null]>
          {{userdata.username||userdata.nickname}}</h2>
        <p>{{userdata.mobile}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward ng-href="#/order/2" class="item item-icon-left item-icon-right order ">
        <i class="icon iconfont icon-form " style="color: #4cd964;"></i>
        <h2>我的回收单</h2>
        <!--  <i class="icon ion-ios-arrow-right"></i> -->
      </a>
      <div class="row row-no-padding light-bg  row-center text-center order-item">
        <a nav-direction=forward ng-href="#/order/2" class="item item-icon-right col ">
          <p>待处理订单</p>
          <h2>8个</h2>
          <i class="icon iconfont icon-time " style="color: #00ACFF"></i></span>
        </a>
        <a nav-direction=forward ng-href="#/orderwarning" class="item  col expiring item-borderless">
          <p>订单预警</p>
          <h2>2个</h2>
        </a>
      </div>
    </div>
    <div class="list">
      <a nav-direction=forward ng-href="#/myorder" class="item item-icon-left item-icon-right order ">
        <i class="icon iconfont icon-form "></i>
        <h2>我的订单</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward ng-href="" class="item item-icon-left item-icon-right ">
        <i class="icon iconfont icon-moneybag"></i>
        <h2>我的钱包 <span class="item-note">余额 ：￥0.00</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward ng-href="#/tab/news" class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-mark"></i>
        <h2>消息</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a nav-direction=forward ng-href="#/myaddress" class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-location"></i>
        <h2>我的地址</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
<!--      <a nav-direction=forward ng-href="" class="item item-icon-left item-icon-right ">
        <i class="icon iconfont icon-zizhanghao"></i>
        <h2>子账号</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>-->

    </div>
    <div class="list">
      <a nav-direction=forward class="item item-icon-left item-icon-right " ng-href="#/help/22">
        <i class="icon iconfont icon-guanyuwomen"></i>
        <h2>关于我们</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward class="item item-icon-left item-icon-right" ng-click="modal.show()">
        <i class="icon iconfont icon-share"></i>
        <h2>分享给我的朋友</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward ng-href="#/setting" class="item item-icon-left item-icon-right ">
        <i class="icon iconfont icon-settings"></i>
        <h2>设置</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <p></p>
  </ion-content>
</ion-view>
