<ion-view>
  <!--  <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back native-ui-sref="tab.main"></button>
    </ion-nav-buttons>-->
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 我的收收</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg account " has-bouncing="false">
    <div class="list  ">
      <a nav-direction=forward ng-href="#/accountinfo" class="item item-positive item-avatar   item-icon-right user">
        <img ng-src="{{userdata.userfigure||img/head.jpg}}" class="border-radius-50" alt=""
             onerror="this.src='img/head.jpg'">
        <h2 ng-class={true:'padding-top'}[userdata.username==null&&userdata.nickname==null]>
          {{userdata.username||userdata.nickname}}</h2>
        <p>{{userdata.mobile}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div ng-if="usertype==1">
        <a nav-direction=forward ng-href="#/wallet" class="item item-icon-left   order money">
          <i class="icon iconfont icon-moneybag " style="color: #4cd964;"></i>
          <h2>我的钱包
            <button class="button button-positive" ui-sref="cash">提现</button>
            <button class="button button-energized" ui-sref="recharge">充值</button>
          </h2>
        </a>
        <div class="row row-no-padding light-bg  row-center text-center order-item">
          <a nav-direction=forward ng-href="#/wallet" class="item item-icon-right col ">
            <p>账号余额</p>
            <h2 style="color: #f26604">{{orderSum.account | currency :'￥'}}</h2>
            <i class="icon iconfont icon-balance " style="color: #f26604"></i></span>
          </a>
          <a nav-direction=forward ng-href="#/bankcard" class="item  col item-icon-right item-borderless">
            <p>银行卡</p>
            <h2 style="color: #f26604">{{orderSum.banknum}}</h2>
            <i class="icon iconfont icon-yinxingqia " style="color: #00ACFF"></i></span>
          </a>
        </div>
      </div>

      <div ng-if="usertype==2">
        <a nav-direction=forward ng-href="#/order/0" class="item item-icon-left  order ">
          <i class="icon iconfont icon-form " style="color: #4cd964;"></i>
          <h2>已接订单</h2>
        </a>
        <div class="row row-no-padding light-bg  row-center text-center order-item">
          <a nav-direction=forward ng-href="#/order/0" class="item item-icon-right col ">
            <p>待处理</p>
            <h2 style="color: #f26604">{{orderSum.dclnum}}</h2>
            <i class="icon iconfont icon-time " style="color: #00ACFF"></i></span>
          </a>
          <a nav-direction=forward ng-href="#/orderwarning" class="item  col expiring item-borderless">
            <p>预警</p>
            <h2 style="color: #f26604">{{orderSum.yjnum}}</h2>
          </a>
        </div>
      </div>
    </div>
    <div class="list" id="myaccount1">
      <a nav-direction=forward ng-href="#/myorder" class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-form" style="color: #11c1f3"></i>
        <h2>我登记的信息及货源</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-if="usertype==2||usertype==0" nav-direction=forward ng-href="#/wallet"
         class="item item-icon-left item-icon-right ">
        <i class="icon iconfont icon-moneybag" style="color: #FFD700"></i>
        <h2>我的钱包 <span class="item-note ">余额 ：<span class="balanced">{{orderSum.account | currency :'￥'}}</span></span>
        </h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward ng-href="#/tab/news" class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-mark" style="color: #0ab66a"></i>
        <h2>消息</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a nav-direction=forward ng-href="#/myaddress" class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-location" style="color: #ef473a"></i>
        <h2>我的地址</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a nav-direction=forward ng-href="#/infee" class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-favor" style="color: #ffc900"></i>
        <h2>信息费标准</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a nav-direction=forward ng-href="#/tuiguang" ng-if="userdata.promoter==1"
         class="item item-icon-left item-icon-right">
        <i class="icon iconfont ion-person-add" style="color: #4cae4c"></i>
        <h2>邀请朋友</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>
    <div class="list">
      <a nav-direction=forward class="item item-icon-left item-icon-right " ng-href="#/help/22">
        <i class="icon iconfont icon-guanyuwomen" style="color: #ffc900"></i>
        <h2>关于我们</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward class="item item-icon-left item-icon-right" ng-click="modal.show()">
        <i class="icon iconfont icon-share" style="color: #4cae4c"></i>
        <h2>分享给我的朋友</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a nav-direction=forward ng-href="#/setting" class="item item-icon-left item-icon-right ">
        <i class="icon iconfont icon-settings" style="color: #1b6d85"></i>
        <h2>设置</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <p></p>
  </ion-content>
</ion-view>
