<ion-view hide-nav-bar="true">
  <ion-content overflow-scroll="true" class="text-center" id="download" style="background: url('{{dbg}}') no-repeat;background-size: 100% 100%;">
    <img src="./img/content.png" />
    <div class="text-center light-bg" style="position: fixed;bottom: 0;width:100%;height: 15%;border-radius: 60% 60% 0 0;">
      <a class="button button-balanced full-image col-50 icon iconfont icon-xiazai" style="margin-top: 1em;"
         ng-click="dloading()">下载收收</a>
    </div>
  </ion-content>
</ion-view>

