<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ui-sref="tab.main"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 账号登录</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-href="#/register"
       nav-direction=forward>注册</a>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false" class="stable-bg" id="login">
    <form name="loginForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label icon ion-ios-person-outline"> 账号</span>
          <input type="number" name="username" ng-model="user.account"    placeholder="请输入手机号码" ng-blur="getIsInvite(user.account)"  maxlength="11" required/>
        </label>

        <label class="item item-input">
          <span class="input-label icon ion-ios-locked-outline "> 密码</span>
          <input type="password" placeholder="请输入密码"  ng-model="user.password" required/>
        </label>

        <label ng-if="isInvite" class="item item-input">
          <span class="input-label icon ion-ios-unlocked-outline" > 邀请码</span>
          <input type="text" ng-model="user.invitecode" check-form
                 placeholder="请输入邀请码"  ng-required="isInvite"  maxlength="6"/>
        </label>
        <ion-checkbox class=" stable-bg item-borderless checkbox-positive" ng-model="agreedeal" ng-checked="true">
          同意登录协议
        </ion-checkbox>
        <div class="padding-horizontal">
          <button class="button full-image button-positive " ng-click="loginSubmit()"
                  ng-disabled="!(loginForm.$valid&&agreedeal&&paraclass)">登录
          </button>
        </div>
        <div class="padding">
          <p class="text-right padding-top" style="font-size: 1rem"><a class="positive subdued" ng-href="#/mobilelogin"
                                                                       nav-direction=forward><i
            class="iconfont icon-xiangyou  "></i> 手机验证登录</a></p>

          <p class="text-right"><a class="light assertive icon ion-ios-help-outline" ng-href="#/findpassword"
                                   nav-direction=forward> 忘记密码</a></p>
        </div>
      </div>


    </form>


  </ion-content>
  <p class="fixed-bottom text-center hide-on-keyboard-open">你还没有账号，请点击<a class="positive subdued" ng-href="#/register"
                                                                         nav-direction=forward> 立即注册</a></p>
</ion-view>

