<ion-view>
  <ion-nav-buttons side="left">
    <a class="button icon ion-android-person button-clear" nav-direction=forward native-ui-sref="login"
    ></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 博回收</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus button-clear" ng-click=""></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">

    <ion-slide-box show-pager="false" does-continue="true" auto-play="true" slide-interval="3000"
                   delegate-handle="slideboximgs" id="main-slide"><!--
      <ion-slide ng-repeat="item in adImg track by item.ImgUrl">
        <img ng-click="windowOpen(item.Url)" ng-src="{{item.ImgUrl}}" alt="首页轮播图" class="full-image"/>
      </ion-slide>-->
      <ion-slide>
        <img ng-src="img/banner/banner1.jpg" alt="首页轮播图" class="full-image"/>
      </ion-slide>
      <ion-slide>
        <img ng-src="img/banner/banner2.jpg" alt="首页轮播图" class="full-image"/>
      </ion-slide>
    </ion-slide-box>

    <div class=" row  row-center light-bg  text-center main-list">
      <a ng-href="" nav-direction=forward class="col-25  subdued">
        <span class="royal-bg border-radius-50"><i class="icon ion-clipboard light"></i></span>
        <p>登记信息</p>
      </a>
      <a ng-href="" nav-direction=forward class="col-25  subdued">
        <span class="energized-bg border-radius-50"><i class="icon ion-compose light"></i></span>
        <p>登记货源</p>
      </a>
      <a ng-href="" nav-direction=forward class="col-25  subdued">
        <span class="calm-bg border-radius-50"><i class="icon ion-android-subway light"></i></span>
        <p>货源归集</p>

      </a>
      <a ng-href="" nav-direction=forward class="col-25  subdued">
        <span class="balanced-bg border-radius-50"><i class="iconfont icon-shouhuo light"></i></span>
        <p>接单收货</p>
      </a>
    </div>

    </div>
  </ion-content>
</ion-view>

