<ion-view id="main">
  <ion-nav-buttons side="left">
    <a class="button icon iconfont icon-people  button-clear" nav-direction=forward native-ui-sref="tab.account"
    ></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 收收</h1>
  </ion-nav-title>
  <!--  <ion-nav-buttons side="right">
      <button class="button icon iconfont icon-add button-clear" ng-click=""></button>
    </ion-nav-buttons>-->
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-refresher on-refresh="getMainData()" pulling-text="下拉更新"></ion-refresher>
    <div class="topbj light text-center">
      <div class="total ">
        <p class="num">{{cargoQuantity?cargoQuantity.num:0 | number}}</p>
        <p>总回收量(台)</p>
      </div>
      <div class="row sub-total row-no-padding">
        <span class="col">
          <h3>{{cargoQuantity?cargoQuantity.informatenum :0| number}}</h3>
          <p>信息总量(单)</p>
        </span>
        <span class="col">
          <h3>{{cargoQuantity?cargoQuantity.goodsnum:0 | number}}</h3>
          <p>总货源量(单)</p>
        </span>
      </div>
    </div>
    <p></p>

    <div class="row   light-bg row-center  main-list">
      <a class="col border-rb" nav-direction=forward ng-href="#/information">
        <i class="icon iconfont icon-xinxidengji energized"></i>
        <div class="inline">
          <h5>信息登记</h5>
          <p>海量信息随时录入</p></div>
      </a>
      </a>
      <a class="col border-b" nav-direction=forward ng-href="#/supplyofgoods">
        <i class="icon iconfont icon-fabuhuoyuan"></i>
        <div class="inline">
          <h5>货源登记</h5>
          <p>真实货源轻松录入</p></div>
      </a>
    </div>
    <div class="row   light-bg row-center main-list">
      <a nav-direction=forward ng-href="#/order/1" class="col border-r ">
        <i class="icon iconfont icon-jiedanjilu"></i>
        <div class="inline">
          <h5>接单回收</h5>
          <p>一键抢单轻松回收</p></div>
      </a>
      </a>
      <a nav-direction=forward ng-href="#/order/2" class="col">
        <i class="icon iconfont icon-shouhuo balanced"></i>
        <div class="inline">
          <h5>跟单收货</h5>
          <p>随时随地简单快捷</p></div>
      </a>
      </a>
    </div>
    <p></p>
    <div class="row   light-bg row-center sub-menu">
      <a nav-direction=forward ng-href="#/help/23" class="col border-r ">
        <i class="icon iconfont icon-wenti"></i>
        <p class="inline"> 我能做什么?</p></a>
      </a>
      <a nav-direction=forward ng-href="#/help/24" class="col">
        <i class="icon iconfont icon-question1 "></i>
        <p class="inline"> 我要做什么?</p>
      </a>
    </div>
    <p></p>
    <a href="tel:400-700-0097" >
      <img ng-src="img/main/kefu.png" class="kefu full-image light-bg" alt="客服电话">
    </a>

      <img ng-src="img/main/buttom.png" class="kefu full-image" alt="让回收更简单">

<!--    <div ng-if="true" class="isNotDataHint">
      <i class="icon iconfont icon-emoji"></i>
      <p>我是有底线的</p>
    </div>-->
  </ion-content>
</ion-view>

