<ion-view>
  <ion-nav-buttons side="left">
    <a class="button icon ion-android-person no-border" nav-direction=forward native-ui-sref="login"
       native-options="{type: 'slide',direction: 'left'}"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "> 主页</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus no-border" ng-click="uploadActionSheet()"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">


  </ion-content>
</ion-view>

