<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back
            ui-sref="{{tabIndex==0?'tab.account':'tab.main'}}"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 已接订单</h1>
  </ion-nav-title>
  <ion-tabs id="orderlist-tab" class="tabs-light tabs-top" delegate-handle="my-handle-orderlist">
    <div class="row row-horizontal-around text-center">
      <span class="col-25 {{tabIndex==2?'active':''}}" ng-click="selectedTab(2)">待处理</span>
      <span class="col-25 {{tabIndex==0?'active':''}}" ng-click="selectedTab(0)">所有订单</span>
    </div>
  </ion-tabs>
  <ion-slide-box show-pager="false"
                 id="orderlist">
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <ion-refresher on-refresh="getOrderList(0)" pulling-text="下拉刷新"></ion-refresher>
        <p></p>
        <div ng-if="isNotData" class="isNotDataHint">
          <i class="iconfont icon-xiaoxi"></i>
          <p>暂无所有订单</p>
        </div>
        <ion-list>
          <ion-list>
            <div ng-repeat="item in orderList">
              <a ng-href="#/orderdetails/{{item.orno}}/2/{{item.hytype}}" class="item " ng-class="{true:'grey'}[true]">
                <h2 class="positive"><span class="assertive">{{item.area.Name}}</span>{{item.addrdetail}} <span class="bhyyy">{{(item.isappoint==2 && item.state<5)?'(已预约)':""}}</span></h2>
                <p class="text-wrap">交易品类 : {{item.category}} <span class=" {{item.hytype==1?'bhytype':(item.hytype==2?'ehytype':'')}} ">{{item.hytype==1?'废品':(item.hytype==2?'二手':'')}}</span>
                </p>
                <p class="text-wrap ">{{item.name}} {{item.motel | hidepartinfo : 'phone'}} 距离:{{item.distance}}
                  <span> 状态 : {{item.strstate}}</span></p>
              </a>
              <p ng-if="item.state<=4||item.state==5 || item.orstate==2 || item.orstate==3 || item.orstate==0"
                 class="row row-no-padding pending row-center row-horizontal-around light-bg ">
                <!--<span-->
                <!--ng-if="item.state<=4" class="energized" ng-click="relation(item.motel)"><i-->
                <!--class="iconfont icon-phone"></i> 联系他</span>-->
                <span
                  ng-if="item.state<=4 && item.isappoint==1" class="energized" ng-click="Appoint(item.type,item.djno,item.userid,item.orno,item.oraddtime)"><i
                  class="iconfont icon-phone"></i> 预约</span>
                <span ng-if="(item.state==4 || (item.state==8 && item.orstate==0))" class="balanced"
                      ng-click="recycle(item.orno,item.djno,item.type,item.userid,item.totalprice,item.name,item.category,item.hytype)"><i
                  class="iconfont icon-huishou"></i> 已回收</span>
                <span ng-if="item.state==5" class="balanced"
                      ng-click="topay(item.type,item.djno,item.orno,item.oruserid,item.userid,item.totalprice,item.name,item.informationmoney)"><i
                  class="iconfont icon-sponsor"></i> 去付款</span><span
                  class="positive" ng-if="item.state<=4" ng-click="navigation(item.longitude,item.latitude)"><i
                  class="iconfont icon-daohang1"></i> 导航</span>
                <span class="assertive" ng-if="item.orstate==2 || item.orstate==3" ng-click="cancelOrder(item.orno)"><i
                  class="iconfont icon-jian"></i> 取消</span>
              </p>
              <p></p>
            </div>
          </ion-list>
          <ion-infinite-scroll on-infinite="getOrderList()" ng-if="total > page" immediate-check="false">
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
