<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear iconfont icon-homefill" nav-direction=back native-ui-sref="tab.main"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 参考价</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg" id="referenceprice" has-bouncing="true">
  <div class="row row-no-padding ">
    <div class="col-25 stable-bg">
      <ion-list class="list-borderless ">
        <ion-item ng-class="{false:'stable-bg',true:'classify-selected'}[classifyindex==$index]"
                  ng-click="getClassifyDetails($index)" ng-repeat="item in productList">
          <h2 class="text-wrap"> {{item.name}}</h2>
        </ion-item>
      </ion-list>
    </div>
    <div class="col-75">
      <ion-scroll ng-style="{height:scrollHeight}" direction="y" overflow-scroll="false" has-bouncing="true">
        <div id="classify-scroll-content" ng-style="{height:scrollContentHeight}">
          <ion-list>
            <ion-item  ng-repeat="item in classifyDetails">
              <p class="text-wrap" > {{item.name}} <span class=" nowrap" style="position: absolute;right: 0.3rem;"><span class="energized ">{{item.price | currency :''}} </span> 元/{{item.unit==1?'台':'公斤'}}</span></p>
            </ion-item>
          </ion-list>

        </div>
      </ion-scroll>
    </div>
  </div>
  </ion-content>
</ion-view>
