<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-light main-footer-bar" delegate-handle="main-tabs">
  <!-- 主页 Tab -->

  <ion-tab title="主页" icon-off="iconfont icon-home" icon-on="iconfont icon-homefill" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- 参考价 Tab -->
  <ion-tab title="参考价" icon-off="iconfont  icon-recharge" icon-on="iconfont icon-rechargefill"
           href="#/referenceprice">
    <ion-nav-view name="tab-referenceprice"></ion-nav-view>
  </ion-tab>

  <!-- 钱包 Tab 普通会员和销售员是另一个tab（含钱包）-->
  <ion-tab title="钱包" class="tab-largen " icon-off="iconfont  icon-moneybag"
           icon-on="iconfont icon-moneybag"
           href="#/wallet">
    <ion-nav-view name="tab-wallet"></ion-nav-view>
  </ion-tab>

  <!-- 订单 Tab  二手商家、上门回收、货场都是属于回收商，是同一个tab（含订单） -->
  <!--  <ion-tab title="{{isLogin?'回收单':'订单'}}" class="tab-largen {{usertype==1?'tab-hidden':''}}" icon-off="iconfont  icon-form" icon-on="iconfont icon-form"
             href="#/order/2">
      <ion-nav-view name="tab-order"></ion-nav-view>
    </ion-tab>-->

  <!-- 消息Tab -->
  <ion-tab title="消息" icon-off="iconfont  icon-mark " icon-on="iconfont  icon-markfill" badge-style="badge-assertive"
           badge="0" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!--我的 Tab -->
  <ion-tab title="我的" icon-off="iconfont icon-my" icon-on="iconfont icon-myfill" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
