<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 我的钱包</h1>
  </ion-nav-title>
  <form name="formaddcash">
    <ion-content overflow-scroll="false" class="has-button-footer stable-bg " has-bouncing="true">
      <p></p>
      <div class="list">
        <label class="item item-input ">
          <span class="input-label">可提现金额 : </span>
          {{subaccount.cashamount}} 元
        </label>
        <p></p>
        <label class="item item-input item-select">
        <span class="input-label"><span class="padding-right">提现账号 : </span>
            <select  ng-model="myBk" ng-options="g.id as g.accountno for g in BankList track by g.id" ng-change="changeBk(myBk)"   required>
              <option value="">请选择银行卡</option>
          </select>
       </span>
        </label>
        <label class="item item-input ">
          <span class="input-label">提现金额 : </span>
          <input type="number" placeholder="请输入提现金额" ng-model="cashinfo.amount" check-form ng-change="checkForm(cashinfo.amount,'提现金额不能超过提现金额','maxvaule',subaccount.cashamount)"    ng-maxlength="10"  required/>
        </label>
        <p></p>

      </div>
    </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <a ng-disabled="!(formaddcash.$valid&&verify&&verbank)" class="button button-calm full-image " ng-click="addcash()" >提现</a>
    </div>
  </form>
</ion-view>
