<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 提现</h1>
  </ion-nav-title>
  <form name="formaddcash">
    <ion-content overflow-scroll="false" class="has-button-footer stable-bg " has-bouncing="true">
      <p></p>
      <div class="card">
        <label class="item item-icon-right" ng-click="selectCard()">
        <span class="input-label"><span class="padding-right">银行卡 : </span>
            <!--<select ng-if="BankList.length>0" ng-model="myBk" ng-options="g.id as g.accountno for g in BankList track by g.id"-->
                    <!--ng-change="changeBk(myBk)" required>-->
              <!--<option value="">请选择银行卡</option>-->
          <!--</select>-->
          <span class="calm" style="font-weight: bold">{{defaultBank&&defaultBank.bankname?defaultBank.bankname+"（"+defaultBank.accountno.substring(defaultBank.accountno.length-4)+")":"请添加银行"}}</span>
          <i class="icon" ng-class="defaultBank&&defaultBank.bankname?'ion-ios-arrow-forward':'ion-ios-plus-empty'"></i>
       </span>
        </label>
        <label class="item item-input ">
          <span class="input-label">可用金额 : </span>
          {{subaccount.cashamount}} 元
        </label>
        <label class="item item-input ">
          <span class="input-label">提现金额 : </span>
          <input type="number" placeholder="请输入提现金额(大于3元)" ng-model="cashinfo.amount" check-form
                 ng-change="checkForm(cashinfo.amount,'提现金额不能超过可用金额','maxvaule','提现',true,subaccount.cashamount)"
                 ng-maxlength="10" required/>
        </label>
        <p class="text-right padding-right padding-top" ng-class="isAll?'calm':'grey'" ng-click="allCash()">
          <i ng-class="isAll?'ion-ios-checkmark':'ion-ios-circle-outline'" class=""></i>
          全部提现
        </p>
        <p class="text-right padding-right padding-top" ng-class="true?'assertive':'assertive'">
          (注:提现金额小于100时额外扣除3元手续费)
        </p>
      </div>
    </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <a ng-disabled="!(formaddcash.$valid&&verify&&defaultBank)" class="button button-positive full-image "
         ng-click="addcash()">提现</a>
    </div>
  </form>
</ion-view>
