<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="modal.hide()"></button>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 地址选择</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="false">
    <ion-list>
      <ion-item ng-click="getAddressPCCList(item.level=='street'?item.name:item.adcode)"
                ng-repeat="item in addressinfo">
        {{item.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
