<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="modal.hide()"></button>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 地区选择</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="false">
    <ion-list>
      <div ng-if="addressinfo==null||addressinfo.length==0" class="isNotDataHint">
        <i class="iconfont icon-xiaoxi"></i>
        <p>无法获取地区</p>
      </div>
      <ion-item ng-click="getAddressPCCList(item)"
                ng-repeat="item in addressinfo">
        {{item.Name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
