<ion-modal-view id="adv-modal" hide-nav-bar="true">

  <ion-content overflow-scroll="true">
  <img ng-if="adv_img" id="adv-img" ng-src="{{adv_img}}" ng-click="modal1.show()" />
    <div ng-show="btnstyle" class="text-center div-btn" ng-style="btnstyle"><i class="icon ion-ios-close-outline light" ng-click="modal3.hide()"></i></div>
  <!--<div ng-show="btnstyle&&isWebView" class="text-center div-btn" ng-style="btnstyle"><button class="button" ng-style="btnmargin" ng-click="modal1.show()">立即分享</button></div>-->
  </ion-content>
</ion-modal-view>
