
<ion-modal-view id="appoint-sure">
  <ion-header-bar class="bar bar-header bar-light">
    <button class="button button-clear icon ion-ios-close-empty" ng-click="modal.hide()"></button>
    <h1 class="title">选择预约时间</h1>
  </ion-header-bar>

  <form name="appointForm">
  <ion-content overflow-scroll="false" class="has-tabs light-bg" has-bouncing="true">
    <div  class="row text-center row-no-padding select-category ">
      <div ng-click="appointChoice(dateList,item)" ng-repeat="item in dateList" ng-class="item.checked?'showDiv':''" class="col-20 border-table {{($index+1)%5==0?'no-border-right':''}}">
        <input type="checkbox"  ng-model="item.checked" class="ng-pristine ng-untouched ng-valid ng-empty">
        <label>
          {{item.addtime|date :'dd'}}
          <span class="showSpan" ng-show="item.checked"></span>
        </label>
      </div>
    </div>
  </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <button class="button button-positive full-image " ng-click="AppointSubmit()">确认预约</button>
    </div>
    </form>
</ion-modal-view>
<!--</ion-view>-->
