<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="modal1.hide()"></button>
    <h1 class="title">附近地址</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="false" >
    <div class="bar-light  item-input-inset ">
      <label class="item-input-wrapper">
        <i class=" iconfont icon-search placeholder-icon" style="font-size: 0.9rem!important;"></i>
        <input type="search" class="full-image" ng-model="addrinfo.addressname" ng-change="getPlaceBySearch(addrinfo.addressname)"  placeholder="您要搜索的地址">
      </label>
    </div>
    <ion-list>
      <div ng-if="addresspois==null||addresspois.length==0" class="isNotDataHint">
        <i class="icon ion-android-notifications"></i>
        <p>无法获取附近地址</p>
      </div>
      <ion-item class="item-icon-left" ng-click="getAddressPois(item)"
                ng-repeat="item in addresspois">
        <i class="icon iconfont icon-location"></i>
        {{item.name}}
        <p>{{item.address}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
