<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 付款</h1>
  </ion-nav-title>

    <ion-content overflow-scroll="false" id="payment" class="has-button-footer stable-bg" has-bouncing="true">


    </ion-content>
    <div class="padding light-bg bottom-0" keyboard-attach>
      <a class="button button-positive  full-image" ng-disabled="!payment.$valid" ng-click="">确认付款</a>
    </div>

</ion-view>
