<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back
            ui-sref="order({orderType:2})"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 付款</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" id="payment" class="has-button-footer stable-bg" has-bouncing="true">
    <ion-list hide-show>
      <ion-item class=" item-icon-right " ng-click="toggle(0)">
        订单号 : {{orderinfo.orno}}
        <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme]"
           class="icon iconfont "></i>
      </ion-item>
      <div ng-hide="showme">
        <ion-item>
          收款人 : {{orderinfo.name}}
        </ion-item>
        <ion-item>
          应付金额 : {{orderinfo.amount | currency:'￥'}}
        </ion-item>
        <!--        <ion-item ng-if="orderinfo.type==1&&orderDetail.informationmoney">
                  预计信息费金额 : {{orderDetail.informationmoney | currency:'￥'}}
                </ion-item>-->
        <ion-item class="item-button-right" ng-if="orderinfo.type==2&&pay.choice==2">
          我的余额 : {{orderSum.account| currency:'￥'}} {{(orderSum.account < orderinfo.amount)?' (余额不足)':''}}
          <button class="button button-balanced" ui-sref="recharge">充值</button>
        </ion-item>
      </div>
    </ion-list>
    <ion-list>
      <ion-item class="item-divider">支付方式</ion-item>
      <ion-radio ng-model="pay.choice" icon="ion-android-done" ng-change="" ng-value="'1'"><i
        class="icon iconfont icon-xianjinzhifukuozhan balanced "></i> 现金支付
      </ion-radio>
      <ion-radio ng-model="pay.choice" icon="ion-android-done" ng-if="orderinfo.type==2" ng-change="" ng-value="'2'"><i
        class="icon iconfont icon-zaixianzhifu calm "></i> 在线支付
      </ion-radio>
    </ion-list>
  </ion-content>
  <div class="padding light-bg bottom-0" keyboard-attach>
    <a class="button button-positive  full-image"
       ng-disabled="(orderinfo.type==2&&(pay.choice==2&&orderSum.account < orderinfo.amount))"
       ng-click="confirmPayment()">确认付款</a>
  </div>

</ion-view>
