<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"
    ></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 回收录单</h1>
  </ion-nav-title>

  <form name="recycleorderForm">
    <ion-content overflow-scroll="false" class="stable-bg has-button-footer" id="recycleorder">
      <ion-list hide-show>
        <ion-item class="item-icon-left item-icon-right" ng-click="toggle(0)">
          <i class="icon iconfont icon-xzcplx"></i>
          选择品类
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme" class="row row-center row-wrap text-center light-bg select-category ">
          <label ng-repeat="item in productList" ng-click="checkChecded()" for="{{item.imgurl}}" class="col-20"><i
            class="iconfont {{item.imgurl}}"></i>
            <p>{{item.name}}</p>
            <input type="checkbox" id="{{item.imgurl}}" ng-model="item.checked">
            <span></span>
          </label>
        </div>

      </ion-list>
      <p></p>
      <ion-list>
        <div ng-repeat="item in productList" ng-if="item.checked" hide-show>
          <ion-item class="item-icon-left item-icon-right item-borderless" ng-click="toggle(1)">
            <i class="icon iconfont {{item.imgurl}}"></i>
            {{item.details[$index].no}}
            <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme1]"
               class="icon iconfont "></i>
          </ion-item>
          <div ng-hide="showme1" ng-repeat="items in item.details">

            <ion-checkbox class=" checkbox-positive"
                          check-form ng-click="checkAtLeastOne(item.details,'checked')" ng-model="items.checked">
              {{items.name}}
            </ion-checkbox>

          </div>
          <p></p>
        </div>
      </ion-list>
      <p></p>
    </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <button ng-disabled="!(recycleorderForm.$dirty&&ischecked&&verifyLeastOne)"
              class="button button-positive full-image "
              ng-click="recycleNext()">
        下一步
      </button>
    </div>
  </form>
</ion-view>

