<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 评价</h1>
  </ion-nav-title>
  <form name="evaluateForm">
    <ion-content overflow-scroll="false" id="evaluate" class="has-button-footer stable-bg" has-bouncing="true">
      <div class="list ">
        <div class="item">综合评价 <span class="padding-left  evaluate-star">
        <i class="iconfont icon-favorfill  " ng-class="{true:'energized',false:'grey'}[evaluateinfo.star>=1]"
           ng-click="evaluatestar(1)"></i>
        <i class="iconfont icon-favorfill " ng-class="{true:'energized',false:'grey'}[evaluateinfo.star>=2]"
           ng-click="evaluatestar(2)"></i>
        <i class="iconfont icon-favorfill " ng-class="{true:'energized',false:'grey'}[evaluateinfo.star>=3]"
           ng-click="evaluatestar(3)"></i>
        <i class="iconfont icon-favorfill " ng-class="{true:'energized',false:'grey'}[evaluateinfo.star>=4]"
           ng-click="evaluatestar(4)"></i>
        <i class="iconfont icon-favorfill " ng-class="{true:'energized',false:'grey'}[evaluateinfo.star>=5]"
           ng-click="evaluatestar(5)"></i>
      </span></div>
        <div class="item  ">
          <span class="input-label "> 服务态度</span>
          <ion-checkbox class="item-borderless checkbox-positive" ng-checked="evaluateinfo.service==1"
                        ng-click="evaluateinfo.service=1">
            满意
          </ion-checkbox>
          <ion-checkbox class="item-borderless checkbox-positive" ng-checked="evaluateinfo.service==2"
                        ng-click="evaluateinfo.service=2">
            一般
          </ion-checkbox>
          <ion-checkbox class="item-borderless checkbox-positive" ng-checked="evaluateinfo.service==3"
                        ng-click="evaluateinfo.service=3">
            差
          </ion-checkbox>
        </div>
        <div class="item  ">
          <span class="input-label "> 交易价格</span>
          <ion-checkbox class="item-borderless checkbox-positive" ng-checked="evaluateinfo.tranprice==1"
                        ng-click="evaluateinfo.tranprice=1">
            合理
          </ion-checkbox>
          <ion-checkbox class="item-borderless checkbox-positive" ng-checked="evaluateinfo.tranprice==2"
                        ng-click="evaluateinfo.tranprice=2">
            一般
          </ion-checkbox>
          <ion-checkbox class="item-borderless checkbox-positive" ng-checked="evaluateinfo.tranprice==3"
                        ng-click="evaluateinfo.tranprice=3">
            低
          </ion-checkbox>
        </div>
        <p></p>
        <label class="item item-input item-borderless">
          <textarea rows="5" ng-model="evaluateinfo.remark" placeholder="请填写评价内容" ng-maxlength="300" ></textarea>
        </label>
      </div>


    </ion-content>
    <div class="padding light-bg bottom-0" keyboard-attach>
      <a class="button button-positive  full-image" ng-disabled="!evaluateForm.$valid" ng-click="submitevalute()">提交评价</a>
    </div>
  </form>
</ion-view>
