<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 登记货源</h1>
  </ion-nav-title>

  <form name="supplyofgoodsForm">
    <ion-content overflow-scroll="false" class="stable-bg has-button-footer" id="supplyofgoods">
      <ion-list hide-show>
        <ion-item class="item-icon-left item-icon-right" ng-click="toggle(0)">
          <i class="icon iconfont icon-xzcplx"></i>
          选择品类
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme" class="row row-center row-wrap text-center light-bg select-category ">
          <label ng-repeat="item in productList" ng-click="checkChecded()" for="{{item.imgurl}}" class="col-20"><i
            class="iconfont {{item.imgurl}}"></i>
            <p>{{item.name}}</p>
            <input type="checkbox" id="{{item.imgurl}}" ng-model="item.checked">
            <span></span>
          </label>
        </div>
        <p></p>

        <ion-item class="item-icon-left item-icon-right item-borderless" ng-if="ischecked" ng-click="toggle(1)">
          <i class="icon iconfont icon-edit"></i>
          录入数量
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme1]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme1">
          <ion-item ng-repeat="item in productList" ng-if="item.checked">
            <div>
              <i class="icon iconfont {{item.imgurl}}"></i> {{item.name}}
            </div>
            <div class="row" ng-repeat="items in item.details">
            <span class="col-50">{{items.name}}废品 : <input type="number" ng-model="items.wastenum"
                                                           check-form
                                                           ng-keyup="checkAtLeastOne(item.details,'wastenum')"
                                                           style="display: inline-block;" placeholder="数量"/></span>
              <span class="col-50">{{items.name}}二手 : <input type="number" ng-model="items.secondhandnum"
                                                             ng-keyup="checkAtLeastOne(item.details,'secondhandnum')"
                                                             style="display: inline-block;" placeholder="数量"/></span>
            </div>
          </ion-item>

        </div>
      </ion-list>
      <p></p>
    </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <button ng-disabled="!(supplyofgoodsForm.$dirty&&ischecked&&verifyLeastOne)"
              class="button button-positive full-image "
              ng-click="supplyofgoodsSubmit()">
        提交
      </button>
    </div>
  </form>
</ion-view>

