<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back  ui-sref="tab.account"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 邀请朋友</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button  ng-if="isWebView" class="button button-clear" nav-direction=back ng-click="shareCode()">分享</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" class="light-bg has-subfooter text-center" style="padding: 50% 0;font-weight: bolder;font-size: 3.5rem;font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif" has-bouncing="true">
    {{invitecode.code}}
  </ion-content>
  <div class="padding light-bg  bottom-0" keyboard-attach>
    <a  class="button button-positive full-image icon ion-ios-loop-strong"
       ng-click="getCode()">获取邀请码</a>
  </div>
</ion-view>
