<ion-view hide-nav-bar="true">
  <ion-content overflow-scroll="true" class="text-center" id="download">
    <div class="invitedl text-center">
    <img src="./img/invite-content.png" /></div>
    <div class="text-center row row-center" style="position: fixed;bottom: 0;width:100%;height: 10%;padding: 0 20px;">
      <a class="button button-balanced full-image col-50 icon iconfont icon-xiazai" style="margin-right: 5%;"
         ng-click="dld(1)" ng-if="isWX">应用市场下载</a>
      <a class="button button-balanced full-image icon iconfont icon-xiazai" ng-class="{{isWX?'col-40':''}}" style="margin-top: 0.3em;"
         ng-click="dld()">官网下载</a>
    </div>
  </ion-content>
</ion-view>

