<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ui-sref="tab.account"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 账号信息</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg account " has-bouncing="true" id="accountinfo">
    <div class="list  ">
      <a ui-sref="uploadhead({figure:userinfo.userfigure})" class="item item-avatar item-icon-right  item-borderless">
        <img ng-src="{{userinfo.userfigure||img/head.jpg}}" class="border-radius-50" alt=""
             onerror="this.src='img/head.jpg'">
        <p class="padding-top">头像</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a  ng-if="false" ng-href="#/updateuser/nickname/{{userinfo.nickname}}" class="item item-icon-right">
        <h2>昵称 <span class="item-note">{{userinfo.nickname}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/bindingmobile/{{phonestatus}}" class="item item-icon-right">
        <h2>手机号码 <span class="item-note">{{userinfo.mobile}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="{{!isOrganizingData?'#/organizingdata/1':''}}" class="item {{!isOrganizingData?'item-icon-right':''}}">
        <h2>会员类型 <span class="item-note ">{{usertype!=0?servicesstr:''}}  <span class="positive">{{!isOrganizingData?'去完善信息':''}}</span></span>
        </h2>
        <i ng-if="!isOrganizingData" class="icon ion-ios-arrow-right"></i>
      </a>

      <div ng-if="usertype==1" class="item stable-bg item-borderless">
        <h2 class="text-right calm"><span ui-sref="organizingdata({type:2})"><i
          class="icon ion-android-arrow-up calm"></i> 升级成为回收商</span></h2>
      </div>

      <a ng-href="#/updateuser/sex/{{userinfo.sex}}" class="item item-icon-right {{usertype==1?'item-borderless':''}}">
        <h2>性别 <span class="item-note">{{userinfo.sex==0?'保密':(userinfo.sex==1?'男':'女')}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item  ">
        <h2>所在地区 <span class="item-note">{{userinfo.addr}}</span></h2>
      </a>
      <a ng-if="usertype==2&&isOrganizingData" ng-href="#/modifycategory" class="item item-icon-right">
        <h2 class="text-wrap">回收品类 <span class="item-note">{{userinfo.userext.prodname}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-if="usertype==2&&isOrganizingData" ng-click="openCustomModal()" class="item item-icon-right">
        <h2>回收地区 <span class="item-note">{{userinfo.userext.addrname}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
