<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 账号信息</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg account " has-bouncing="true">
    <div class="list  ">
      <a ui-sref="uploadhead({figure:userinfo.userfigure})" class="item item-avatar item-icon-right  item-borderless">
        <img ng-src="{{userinfo.userfigure||img/head.jpg}}" class="border-radius-50" alt=""
             onerror="this.src='img/head.jpg'">
        <p class="padding-top">头像</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/updateuser/nickname/{{userinfo.nickname}}" class="item item-icon-right">
        <h2>昵称 <span class="item-note">{{userinfo.nickname}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/cancelmobile" class="item item-icon-right">
        <h2>手机号码 <span class="item-note">{{userinfo.mobile}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="" class="item item-icon-right border-bottom-none">
        <h2>会员类型 <span class="item-note">{{userinfo.type==1?'销售员':(userinfo.type==2?'上门回收者':(userinfo.type==3?'货场':'二手商家'))}}</span>
        </h2>
      </a>


      <a ng-if="!isprovider" ng-href="#/applyprovider" class="item stable-bg item-borderless">
        <h2 class=" text-right"><i class="iconfont icon-xiangyou positive"></i> 升级成为货场</h2>
      </a>


      <a ng-href="#/updateuser/sex/{{userinfo.sex}}" class="item item-icon-right item-borderless">
        <h2>性别 <span class="item-note">{{userinfo.sex==0?'保密':(userinfo.sex==1?'男':'女')}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right ">
        <h2>回收品类 <span class="item-note"> 手机 、家电</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right ">
        <h2>回收地区 <span class="item-note"> 广东 深圳 福田</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right " ng-click="openCustomModal()">
        <h2>所在地区 <span class="item-note">{{userinfo.areaname}}</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
