<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> {{buttonText}}地址</h1>
  </ion-nav-title>
  <form name="addaddressForm">
    <ion-content overflow-scroll="false" class="has-button-footer stable-bg" has-bouncing="true">

      <div class="list list-borderless padding-top">
        <label class="item item-input ">
          <span class="input-label"> 联系人</span>
          <input type="text" ng-model="addrinfo.username" placeholder="请输入真实姓名" required>
        </label>
        <p class="padding-top"></p>
        <label class="item item-input ">
          <span class="input-label"> 手机号码</span>
          <input type="text" placeholder="请输入真实号码" check-form
                 ng-blur="checkForm(addrinfo.mobile,'手机号输入错误','mobilephone','')" ng-model="addrinfo.mobile" ng-pattern="/^1(3|4|5|7|8)\d{9}$/" required>
        </label>
        <p class="padding-top"></p>

        <label class="item item-input " ng-click="openModal()">
          <span class="input-label"> 所在地区 </span>
          <p class="{{addresspcd?'dark':'grey'}}">{{addresspcd?addresspcd:"请选择地区信息"}}</p>
        </label>

        <p class="padding-top"></p>
        <label class="item item-input ">
          <span class="input-label"> 详细地址</span>
          <textarea class="col-60" rows="1" ng-model="addrinfo.addr" placeholder="请输入街道门牌号等详细地址" required></textarea>
        </label>

        <p class="padding-top"></p>
        <div ng-show="isshowstatus" class="item item-checkbox item-borderless checkbox-balanced">
          <label class="checkbox">
            <input type="checkbox" ng-model="addrinfoother.isstatus">
          </label>
          是否默认
        </div>
      </div>

    </ion-content>
    <div class="padding light-bg bottom-0" keyboard-attach>
      <button ng-disabled="!(addaddressForm.$valid&&verify&&addresspcd)" class="button button-positive full-image "
              ng-click="dealaddresssubmit()">
        {{buttonText}}
      </button>
    </div>
  </form>
</ion-view>

