<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back
            native-options="{type: 'slide',direction: 'right'}" ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 绑定邮箱</h1>
  </ion-nav-title>
  <form name="bindingemail">
    <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
      <p></p>
      <div class="list ">
        <label class="item item-input">
          <input type="email" ng-model="email.No"  ng-value="userinfo.email" placeholder="电子邮箱" required/>
        </label>
      </div>
    </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <a ng-disabled="!bindingemail.$valid" class="button button-calm full-image " ng-click="sendEmail()">发送验证邮件</a>
    </div>
  </form>
</ion-view>

