<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> {{status==2||status==3?'修改':'绑定'}}手机号码</h1>
  </ion-nav-title>
  <form name="bindingmobile">
    <ion-content overflow-scroll="false" class="stable-bg has-button-footer" has-bouncing="true">
      <p></p>
      <div class="list ">
        <label class="item item-input">
          <input type="number" ng-model="user.mobile" placeholder="新手机号" ng-keyup="checkphone(user.mobile)"
                 maxlength="11" required>

        </label>

        <div class="item item-input">
          <span class="row row-no-padding">
          <input type="number" class="col-65" placeholder="验证码" ng-model="user.code" required/>
            <button class="button button-small button-positive  col-33 " ng-class="{false:'button-outline'}[paraclass]"
                    ng-click="getVerifyCode()">{{paracont}}</button>
          </span>
        </div>
      </div>
    </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <a ng-disabled="!bindingmobile.$valid" class="button button-positive full-image "
         ng-click="bindingMobileSubmit()">{{status==2||status==3?'修改':'确认'}}绑定</a>
    </div>
  </form>
</ion-view>

