<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back
            native-options="{type: 'slide',direction: 'right'}" ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 地址管理</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-clear icon iconfont icon-add" ng-href="#/addaddress"></a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-refresher on-refresh="getAddrlist(0)" pulling-text="下拉更新"></ion-refresher>
    <div ng-if="isNotData" class="isNotDataHint">
      <i class="icon ion-sad"></i>
      <p>无地址信息</p>
    </div>
    <ion-list>
      <ion-item>
        <h2>联系人 : 张三 <span class="right-1  balanced"> ● 默认</span></h2>
        <p>手机 : 18863302302</p>
        <p class="text-wrap">地址 : 广东深圳市龙岗区</p>
        <ion-option-button class="button-positive" ng-click="updateaddress(item)">编辑</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteAddr(item.id,item.status)">删除</ion-option-button>
      </ion-item>
      <ion-item>
        <h2>联系人 : 张三 </h2>
        <p>手机 : 18863302302</p>
        <p class="text-wrap">地址 : 广东深圳市龙岗区</p>
        <ion-option-button class="button-positive" ng-click="updateaddress(item)">编辑</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteAddr(item.id,item.status)">删除</ion-option-button>
      </ion-item>

      <div ng-click="selectAddress(item)" ng-repeat="item in addrlist">
        <ion-item>
          <h2>联系人 :{{item.username}} <span ng-if="item.status==1"
                                           class="right-1  balanced"> ● 默认</span></h2>
          <p>手机 : {{item.mobile}}</p>
          <p class="text-wrap">地址 : {{item.areaname+item.addr}}</p>
          <ion-option-button class="button-positive" ng-click="updateaddress(item)">编辑</ion-option-button>
          <ion-option-button class="button-assertive" ng-click="deleteAddr(item.id,item.status)">删除</ion-option-button>
        </ion-item>
        <p></p>
      </div>
    </ion-list>
    <p ng-if="addrlist.length!=0" class="text-center padding-top grey"><i class="icon ion-information-circled"></i>
      列表左滑可编辑删除我的地址</p>
    <ion-infinite-scroll on-infinite="getAddrlist()" ng-if="total > page" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
