<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 完善资料</h1>
  </ion-nav-title>


  <ion-content overflow-scroll="false" class="stable-bg" id="organizingdata">
    <form name="organizingdataForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label icon ion-ios-person-outline"> 姓名</span>
          <input type="text" name="username" ng-model="user.username" placeholder="请输入真实姓名" required/>
        </label>
        <label class="item item-input">
          <span class="input-label icon ion-ios-telephone-outline"> 手机号码</span>
          <input type="number" name="mobile" ng-model="user.mobile" ng-keyup="checkphone(user.mobile)"
                 maxlength="11" placeholder="请输入真实的手机号码" required/>
        </label>

        <div class="item item-input">
          <span class="input-label icon ion-ios-locked-outline"> 验证码 </span>
          <span class="row row-no-padding">
          <input type="number" class="col-55" placeholder="请输入验证码" ng-model="user.code" required/>
            <button class="button button-small button-positive  col-33 " ng-class="{false:'button-outline'}[paraclass]"
                    ng-click="getVerifyCode()">{{paracont}}</button>
          </span>
        </div>
        </button>
        <label class="item item-input">
          <span class="input-label icon ion-ios-calculator-outline"> 月回收量</span>
          <input type="number" name="recoveryqty" ng-model="user.recoveryqty" placeholder="请输入月回收量" required/>
        </label>
        <div class="item text-wrap">
          <span class="input-label icon ion-ios-trash-outline "> 回收品类</span>
          <ion-checkbox ng-repeat="item in productList" class="item-borderless checkbox-positive"
                        ng-click="checkChecded()" ng-model="item.checked">
            {{item.name}}
          </ion-checkbox>

        </div>
        <label class="item item-input " ng-click="openModal()">
          <span class="input-label icon ion-ios-location-outline"> 回收区域 </span>
          <p class="{{addresspcd?'dark':'grey'}}">{{addresspcd?addresspcd:"请选择回收区域"}}</p>
        </label>
        <ion-item class="item-divider ">
          用户类型
          <p class="text-right item-note"><a class="positive  icon ion-ios-help-outline" ng-href=""
                                             nav-direction=forward> 什么是用户类型</a></p>
        </ion-item>

        <div class="services padding-vertical light-bg text-wrap">
          <ion-checkbox class="item-borderless checkbox-positive " ng-click="checkChecded()"
                        ng-repeat="item in services" ng-model="item.checked">
            {{item.value}}
          </ion-checkbox>
        </div>
        <p></p>
        <div class="padding-horizontal">
          <button class="button button-full button-positive " ng-click="organizingdataSubmit()"
                  ng-disabled="!(organizingdataForm.$valid&&ischecked&&addresspcd)">提交
          </button>
          <p></p>
          <a ng-href="#/login" class="button button-full button-energized button-outline energized ">跳过,下次再完善</a>
        </div>

      </div>


    </form>


  </ion-content>

</ion-view>

