<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 完善资料</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg" id="organizingdata">
    <form name="organizingdataForm">
      <div class="list">
        <div ng-if="usertype==0||isUpgradeRecycler">
          <ion-item class="item-divider light-bg border-bottom">
            <h2 class="border-left">用户类型 <p class="text-right item-note">
              <a class="positive  icon ion-ios-help-outline"
                 ng-href="#/help/25"
                 nav-direction=forward> 什么是用户类型</a></p></h2>
          </ion-item>
          <ion-item ng-if="usertype==0" class="item-divider light-bg text-center usertype">
            <label ng-if="usertype!=1" ng-click="userTypeSelect(1)" for="xinxi">
              <input type="checkbox" id="xinxi" ng-checked="user.usertype==1">
              <span>信息提供者</span>
            </label>
            <label ng-if="!isUpgradeRecycler" ng-click="userTypeSelect(2)" for="huishou">
              <input type="checkbox" id="huishou" ng-checked="user.usertype==2">
              <span>回收商</span>
            </label>
          </ion-item>
          <div class="services padding light-bg text-wrap" ng-if="user.usertype==2">
            <ion-checkbox class="item-borderless checkbox-positive " ng-click="checkChecded(services)"
                          ng-repeat="item in services" ng-model="item.checked">
              {{item.value}}
            </ion-checkbox>
          </div>
        </div>
        <div ng-if="user.usertype!=0">
          <label ng-if="user.usertype==1"  class="item item-input">
            <span class="input-label icon ion-ios-person-outline"> 姓名</span>
            <input type="text" name="username" ng-model="user.username" placeholder="请输入真实姓名" ng-required="user.usertype==1"/>
          </label>
          <label class="item item-input" ng-if="!isPhoneRegister">
            <span class="input-label icon ion-iphone"> 手机号码</span>
            <input type="number" name="mobile" ng-model="user.mobile" ng-keyup="checkphone(user.mobile)"
              ng-blur="checkphone(user.mobile)"     maxlength="11" placeholder="请输入真实的手机号码" ng-required="!isPhoneRegister"/>
          </label>

          <div class="item item-input" ng-if="!isPhoneRegister">
            <span class="input-label icon ion-ios-locked-outline"> 验证码 </span>
            <span class="row row-no-padding">
          <input type="number" class="col-55" placeholder="请输入验证码" ng-model="user.code" ng-required="!isPhoneRegister"/>
            <button class="button button-small button-positive  col-33 " ng-disabled="!paraclass"
                    ng-click="getVerifyCode()">{{paracont}}</button>
          </span>
          </div>

          <!--<label ng-if="user.usertype==2" class="item item-input">-->
            <!--<span class="input-label icon ion-ios-download-outline"> 月回收量</span>-->
            <!--<input type="number" name="recoveryqty" ng-model="user.recoveryqty" placeholder="请输入月回收量" maxlength="8"-->
                   <!--ng-required="user.usertype==2"/>-->
          <!--</label>-->
          <div ng-if="user.usertype==2" class="item text-wrap">
            <span class="block icon ion-ios-trash-outline padding-bottom"> 回收品类</span>
            <ion-checkbox ng-repeat="item in productList" class="item-borderless checkbox-positive"
                          ng-click="checkChecded1(productList)" ng-model="item.checked">
              {{item.name}}
            </ion-checkbox>

          </div>
          <label ng-if="user.usertype==1" class="item item-input">
            <span class="input-label icon ion-ios-home-outline"> 企业名称</span>
            <input type="text" name="shopname" ng-model="user.shopname" placeholder="请输入门店名称" maxlength="10"
                   ng-required="user.usertype==1"/>
          </label>

          <label class="item item-input " ng-click="openModal()">
            <span class="input-label icon ion-ios-location-outline"> {{user.usertype==1?'企业地址':'地区'}}  </span>
            <p class="{{(addresspcd||ssx)?'dard':'grey'}}">{{addresspcd?addresspcd:(ssx?ssx:"请选择地区")}}</p>
          </label>

          <div ng-if="user.usertype==1" class="item item-input ">
            <span class="input-label icon ion-ios-location-outline"> 详细地址</span>
            <textarea class="col-50" rows="1" ng-model="user.addrdetail" ng-focus="openNearAddrModal()" placeholder="街道 门牌号等详细地址"
                      ng-required="user.usertype==1"></textarea>
            <div class="positive padding-left" ng-click="location()"><i
              class="iconfont icon-locationfill" style="font-size: 16px;"></i>定位
            </div>
          </div>
          <label ng-if="user.usertype==1" class="item item-input">
            <span class="input-label icon ion-ios-telephone-outline"> 联系电话</span>
            <input type="text" name="shopphone" ng-model="user.shopphone" check-form
                   ng-blur="checkForm(user.shopphone,'手机或固话格式错误,请更正！','phoneandtel','',true,'')" placeholder="固话格式:075523485305"
                   ng-required="user.usertype==1"/>
          </label>
          <div ng-if="user.usertype==1">
            <div class="item item-input ">
              <span class="input-label"> 上传工作证 </span>
              <input type="text" placeholder="请参考示例" class="col-60 " style="background-color: #FFFFFF" readonly>
              <i ng-click="uploadActionSheet()" class="icon iconfont icon-add positive"></i>
            </div>
            <div class="row  row-wrap row-horizontal-around">
              <img ng-repeat="item in imageList" ng-click="shouBigImage(item)" ng-src="{{item}}" alt="上传工作证图片"
                   style="height: 12rem" class="col-80 padding">
            </div>
            <div ng-if="imageList.length==0" class="row  row-wrap padding-top grey">
              <span class="padding">示例 ：</span>
              <img ng-click="shouBigImage('img/account/employeecard.jpg')" ng-src="img/account/employeecard.jpg"
                   alt="上传工作证示例"
                   style="height: 12rem"
                   class="col-80 padding">
            </div>
          </div>
          <p></p>
          <div class="padding-horizontal">
            <button class="button full-image button-positive " ng-click="organizingdataSubmit()"
                    ng-disabled="!(organizingdataForm.$valid&&(user.usertype==1?verify:true)&&(user.usertype==1?true:(ischecked&&ischecked1))&&(addresspcd||ssx)&&(user.usertype == 1&&ImgsPicAddr.length != 0))">
              {{user.usertype == 1?'提交':'下一步'}}
            </button>
            <p></p>
            <a ng-href="#/{{isLogin?'tab/account':'login'}}"
               class="button full-image button-energized button-outline energized ">跳过,下次再完善</a>
          </div>
        </div>
      </div>
    </form>
    <label>
      <input type="file" id="upload-picture" class="hide" accept="image/jpeg" file-model="images"
             onchange="angular.element(this).scope().img_upload(this.files)"/>
    </label>
  </ion-content>
  <div ng-if="bigImage" class="popover-backdrop dark-bg pic-has-header" ng-click="hideBigImage()">
    <img class="full-image"
         ng-src="{{Url}}"/>
  </div>
</ion-view>

