<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back
            native-options="{type: 'slide',direction: 'right'}" ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 实名认证</h1>
  </ion-nav-title>
  <form name="realname">
    <ion-content overflow-scroll="false" class="stable-bg   has-button-footer" has-bouncing="true">
      <div class="list padding-top">
        <label class="item item-input ">
          <span class="input-label"> 姓名</span>
          <input type="text" placeholder="请填写真实姓名" ng-model="realname.name" ng-value="certificationinfo.name"
                 ng-maxlength="8" required/>
        </label>
        <label class="item item-input ">
          <span class="input-label"> 身份证号码</span>
          <input type="text" placeholder="请填写真实身份号码" ng-model="realname.no" ng-value="certificationinfo.no" check-form
                 ng-change="checkForm(realname.no,'身份证号输入错误','identitycard','')" required/>
        </label>
        <label class="item item-input ">
          <span class="input-label"> 银行卡号</span>
          <input type="text" placeholder="请填写真实银行卡号" ng-model="realname.no" ng-value="certificationinfo.no" check-form
                 ng-change="checkForm(realname.no,'身份证号输入错误','identitycard','')" required/>
        </label>
        <label class="item item-input ">
          <span class="input-label"> 手机号码</span>
          <input type="text" placeholder="请填写银行预留手机号码" ng-model="realname.no" ng-value="certificationinfo.no" check-form
                 ng-change="checkForm(realname.no,'身份证号输入错误','identitycard','')" required/>
        </label>
        <label class="item item-input item-icon-right " ng-click="uploadActionSheet()">
          <span class="input-label"> 上传身份证  <span class="padding-left grey">  必须上传 请参看示例</span></span>
          <i class="icon iconfont icon-add positive"></i>
        </label>
        <div class="row  row-wrap row-horizontal-around">
          <img ng-repeat="item in imageList" ng-click="shouBigImage(item)" ng-src="{{item}}" alt="实名认证图片"
               style="height: 12rem" class="col-80 padding">
          <img ng-if="certificationinfo" ng-click="shouBigImage(certificationinfo.frontpic)"
               ng-src="{{certificationinfo.frontpic}}" alt="实名认证图片" style="height: 12rem" class="col-80 padding">
        </div>
        <div ng-if="imageList.length==0&&!certificationinfo" class="row  row-wrap padding-top grey">
          <span class="padding">示例 ：</span>
          <img ng-click="shouBigImage('img/account/realname.png')" ng-src="img/account/realname.png" alt="实名认证示例"
               style="height: 12rem"
               class="col-80 padding">
        </div>
      </div>
    </ion-content>
    <div class="padding light-bg bottom-0" keyboard-attach>
      <button ng-disabled="!(realname.$valid&&verify)" class="button button-positive full-image "
              ng-click="addCertificationName()">
        提交认证
      </button>
    </div>
  </form>
  <div ng-if="bigImage" class="popover-backdrop dark-bg pic-has-header" ng-click="hideBigImage()">
    <img class="full-image"
         ng-src="{{Url}}"/>
  </div>
</ion-view>
