<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 注册</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-href="#/login"
       nav-direction=forward>登录</a>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false" class="stable-bg" id="register" has-bouncing="true">
    <form name="registerForm">
      <ion-list>
        <label class="item item-input">
          <span class="input-label icon ion-ios-person-outline"> 账号</span>
          <input type="text" name="username" ng-model="user.account" placeholder="手机号码/邮箱"
                 ng-keyup="checkphoneandemail(user.account)" required/>
        </label>

        <label class="item item-input">
          <span class="input-label icon ion-ios-locked-outline "> 设置密码</span>
          <input type="password" ng-model="user.password" check-form
                 ng-blur="checkForm(user.password,'请输入6~18位字母、数字和特殊符号','regular','/^[a-zA-Z0-9]{6,18}$/')"
                 placeholder="请输入6~18位字母、数字和特殊符号" required/>
        </label>

        <label class="item item-input">
          <span class="input-label icon ion-ios-locked-outline "> 确认密码</span>
          <input type="password" ng-model="user.confirmpassword" check-form
                 ng-blur="checkForm(user.confirmpassword,'请输入6~18位字母、数字和特殊符号','regular','/^[a-zA-Z0-9]{6,18}$/')"
                 placeholder="请确保和上面密码一致" required/>
        </label>
        <div class="item item-input">
          <span class="input-label icon ion-ios-locked-outline"> 验证码 </span>
          <span class="row row-no-padding">
          <input type="number" class="col-55" placeholder="请输入验证码" ng-model="user.code" required/>
            <button class="button button-small button-positive  col-33 " ng-class="{false:'button-outline'}[paraclass]"
                    ng-click="getVerifyCode()">{{paracont}}</button>
          </span>
        </div>

        <ion-item class="item-divider ">
          用户类型
          <p class="text-right item-note"><a class="positive  icon ion-ios-help-outline" ng-href="#/help/25"
                                             nav-direction=forward> 什么是用户类型</a></p>
        </ion-item>

        <div class="services padding-vertical light-bg text-wrap">
          <ion-checkbox class="item-borderless checkbox-positive " ng-click="checkChecded()"
                        ng-repeat="item in services" ng-model="item.checked">
            {{item.value}}
          </ion-checkbox>
        </div>

        <ion-checkbox class=" stable-bg item-borderless  checkbox-positive" ng-model="agreedeal" ng-checked="true">
          同意注册协议
        </ion-checkbox>
        <div class="padding-horizontal">
          <button class="button full-image button-positive " ng-click="register()"
                  ng-disabled="!(registerForm.$valid&&agreedeal&&verify&&ischecked)">注册
          </button>
          <p></p>
          <a ng-href="#/login" class="button full-image button-energized button-outline energized ">已有账号 立即登录</a>
        </div>

      </ion-list>
    </form>
    <p class="padding-top"></p>
  </ion-content>
</ion-view>

