<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ui-sref="tab.account"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 设置</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg account">
    <p></p>
    <div class="list  ">
      <a ng-href="#/accountsecurity" class="item item-icon-right">
        <h2>账号安全 <span class="item-note">安全等级 : {{securitylevel}} </span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list  ">
      <a ng-href="#/tab/news" class="item item-icon-right ">
        <h2>新消息通知 </h2>
        <i class="icon ion-ios-arrow-right grey-arrow-right"></i>
      </a>
      <a ng-href="#/helpfeedback" class="item item-icon-right">
        <h2>帮助与反馈</h2>
        <i class="icon ion-ios-arrow-right grey-arrow-right"></i>
      </a>
      <a ng-href="" ng-if="!isIos" class="item ">
        <h2>当前版本号<span class="item-note">{{version}}</span></h2>
      </a>
      <div class="padding">
        <a class="button button-light  button-full  " ng-href="#/login" style="color:red;">退出登录</a>
      </div>
    </div>


  </ion-content>

</ion-view>
