<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> {{status==1?'修改':''}}实名认证{{status==2?'信息':''}}</h1>
  </ion-nav-title>
  <form name="realnameForm">
    <ion-content overflow-scroll="false" class="stable-bg" ng-class="{true:'has-button-footer'}[status!=2]"  has-bouncing="true">
      <div class="list padding-top">
        <label class="item item-input ">
          <span class="input-label"> 姓名</span>
          <input type="text" placeholder="{{status==2?'':'请填写真实姓名'}}" ng-model="realname.name"
                 ng-maxlength="8" ng-disabled="status==2" required/>
        </label>
        <label class="item item-input ">
          <span class="input-label"> 身份证号码</span>
          <input type="text" placeholder="{{status==2?'':'请填写真实身份号码'}}" ng-model="realname.idno" check-form
                 ng-blur="checkForm(realname.idno,'身份证号输入错误','identitycard','')"  ng-disabled="status==2" required/>
        </label>
        <div class="item item-input " ng-if="status!=2">
          <span class="input-label"> 上传身份证 </span>
          <input type="text" placeholder="请参考示例 误传请重新传" class="col-60 " style="background-color: #FFFFFF" readonly>
          <i ng-click="uploadActionSheet()" class="icon iconfont icon-add positive"></i>
        </div>
        <div class="row show-img row-wrap row-horizontal-around">
          <img ng-repeat="item in imageList" ng-click="shouBigImage(item)" ng-src="{{item}}" alt="实名认证图片"
               style="height: 12rem" class="col-80 padding">
          <i ng-click="deleteImg()" ng-if="imageList.length>0" class="delete-img iconfont icon-roundclosefill assertive"></i>
          <img ng-if="realname&&status==2" ng-click="shouBigImage(realname.frontpic)"
               ng-src="{{realname.frontpic}}" alt="实名认证图片" style="height: 12rem" class="col-80 padding">
          <div ng-if="imageList.length>0" class="grey text-center">点击查看大图</div>
        </div>
        <div ng-if="imageList.length==0&&status!=2" class="row  row-wrap padding-top grey">
          <span class="padding">示例 ：</span>
          <img ng-click="shouBigImage('img/account/realname.png')" ng-src="img/account/realname.png" alt="实名认证示例"
               style="height: 12rem" class="col-80 padding">
        </div>
      </div>
      <label>
        <input type="file" id="upload-picture" class="hide" accept="image/jpeg" file-model="images"
               onchange="angular.element(this).scope().img_upload(this.files)"/>
      </label>
    </ion-content>
    <div ng-if="status!=2" class="padding light-bg bottom-0" keyboard-attach>
      <button ng-disabled="!(realnameForm.$valid&&verify&&ImgsPicAddr.length !=0)" class="button button-positive full-image "
              ng-click="addCertificationName()">
        {{status==1?'修改':'提交'}}认证
      </button>
    </div>
  </form>
  <div ng-if="bigImage" class="popover-backdrop pic-has-header" ng-click="hideBigImage()">
    <img class="full-image"
         ng-src="{{Url}}"/>
    <div class="grey text-center">点击恢复小图</div>
  </div>
</ion-view>
