<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> {{type=='nickname'?"昵称设置":"性别设置"}} </h1>
  </ion-nav-title>
  <form name="updateuser">
    <ion-content overflow-scroll="false" class="stable-bg has-button-footer" has-bouncing="true">
      <div class="list  padding-top">
        <label ng-if="type=='nickname'" class="item item-input">
          <input type="text" ng-model="user.nickname" placeholder="{{value||'请输入昵称'}}" maxlength="20" required>
          <!--          <i class="icon  ion-close-circled padding-right"></i>-->
        </label>

        <ion-list ng-if="type=='sex'">
          <ion-radio ng-model="user.sex" icon="ion-android-done" ng-value="0">保密
          </ion-radio>
          <ion-radio ng-model="user.sex" icon="ion-android-done" ng-value="1">男
          </ion-radio>
          <ion-radio ng-model="user.sex" icon="ion-android-done" ng-value="2">女
          </ion-radio>
        </ion-list>
      </div>

    </ion-content>
    <div class="padding light-bg  bottom-0" keyboard-attach>
      <button ng-if="type=='nickname'" ng-disabled="!updateuser.$valid" class="button button-positive full-image "
              ng-click="updateUser()">保存
      </button>
      <button ng-if="type=='sex'" ng-disabled="!(user.sex>=0&&user.sex<=2)" class="button button-positive full-image "
              ng-click="updateUser()">保存
      </button>
    </div>
  </form>
</ion-view>
