<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"
    ></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 订单详情</h1>
  </ion-nav-title>


  <ion-content overflow-scroll="false" class="stable-bg has-button-footer" id="orderdetails">
    <ion-list hide-show>
      <ion-item class=" item-icon-right" ng-click="toggle(0)">
        订单号 : {{orderDetail.djno}} 状态 : <span class="positive">{{orderDetail.strstate}}</span>
        <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme]"
           class="icon iconfont "></i>
      </ion-item>
      <div ng-hide="showme" class="orderdetails">
        <ion-item>
          货主 : {{orderDetail.name}}
        </ion-item>
        <ion-item>
          交易品类 : {{orderDetail.category}}
        </ion-item>
        <ion-item>
          联系电话 : {{orderDetail.motel}}
        </ion-item>
        <ion-item class="text-wrap">
          联系地址 : {{orderDetail.addrdetail }}({{orderDetail.area.MergerName}})
        </ion-item>
        <ion-item>
          下单时间 : {{orderDetail.addtime |date :'yyyy-MM-dd'}}
        </ion-item>
        <ion-item>
          接单人 : {{orderDetail.orname}}
        </ion-item>
        <ion-item>
          接单时间 : {{orderDetail.oraddtime |date :'yyyy-MM-dd'}}
        </ion-item>
      </div>
      <p></p>

      <ion-item class=" item-icon-right item-borderless" ng-click="toggle(1)">
        回收清单 ( <span class="positive">交易金额 : {{orderDetail.totalprice  | currency:'￥'}}</span> )
        <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme1]"
           class="icon iconfont "></i>
      </ion-item>
      <div ng-hide="showme1" class="orderdetails">
        <ion-item class="text-wrap" ng-repeat="item in orderDetail.djdetails">
          黑白电视机 15寸 : 1台 (回收价 : 100元/台)
        </ion-item>
        <ion-item class="text-wrap">
          滚筒洗衣机 6L : 1台 (回收价 : 80元/台)
        </ion-item>
        <ion-item>
          回收时间 : 2017-05-20 15:36
        </ion-item>
      </div>
      <p></p>

      <ion-item class=" item-icon-right item-borderless" ng-click="toggle(2)">
        客户评价 <span class="iconfont icon-favorfill energized "></span>
        <span class="iconfont icon-favorfill energized "></span>
        <span class="iconfont icon-favorfill energized "></span>
        <span class="iconfont icon-favorfill energized "></span>
        <span class="iconfont icon-favorfill energized "></span>
        <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme2]"
           class="icon iconfont "></i>
      </ion-item>
      <div ng-hide="showme2" class="orderdetails">
        <ion-item>
          服务态度 : 非常好
        </ion-item>
        <ion-item>
          表达 : 非常清晰
        </ion-item>
        <ion-item>
          回收价格 : 非常合理
        </ion-item>
      </div>
    </ion-list>
    <p></p>
  </ion-content>
  <div class="row padding light-bg  bottom-0 row-horizontal-around" keyboard-attach>
    <button class="button  button-assertive  icon iconfont icon-jian col-33  "
            style="font-size: 1rem!important;" ng-click="closeOrder(orderDetail.djno)"
            ng-if="orderDetail.state==2||orderDetail.state==3">
      关闭
    </button>
    <button class="button button-royal icon iconfont icon-evaluate_fill col-33 " style="font-size: 1rem!important;"
            ui-sref="evaluate({no:orderDetail.djno,type:orderDetail.type})"
            ng-if="orderDetail.state==6">
      评价
    </button>
  </div>

</ion-view>

