<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"
    ></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 订单详情</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg "
               ng-class="{true:'has-button-footer'}[orderDetail.state==2||orderDetail.state==3||orderDetail.state==6]"
               id="orderdetails">
    <ion-list hide-show>
      <ion-item class=" item-icon-right" ng-click="toggle(0)">
        {{orderDetail.orno||orderDetail.djno}} 状态 : <span class="positive">{{orderDetail.strstate}}</span>
        <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme]"
           class="icon iconfont "></i>
      </ion-item>
      <div ng-hide="showme" class="orderdetails">
        <ion-item>
          货主 : {{orderDetail.name}}
        </ion-item>
        <ion-item class="text-wrap">
          交易品类 : {{orderDetail.category}}
        </ion-item>
        <ion-item>
          联系电话 : {{orderDetail.motel}}
        </ion-item>
        <ion-item class="text-wrap">
          联系地址 : {{orderDetail.addrdetail }}({{orderDetail.area.MergerName}})
        </ion-item>
        <ion-item>
          下单时间 : {{orderDetail.addtime |date :'yyyy-MM-dd HH:mm'}}
        </ion-item>
        <ion-item ng-if="orderDetail.orname">
          接单人 : {{orderDetail.orname}}
        </ion-item>
        <ion-item ng-if="orderDetail.oraddtime!='0001-01-01T00:00:00'">
          接单时间 : {{orderDetail.oraddtime |date :'yyyy-MM-dd HH:mm'}}
        </ion-item>
      </div>
      <p></p>
      <div ng-if="orderDetail.djdetails">
        <ion-item class=" item-icon-right item-borderless" ng-click="toggle(1)">
          登记清单
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme1]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme1" class="orderdetails">
          <ion-item  class="text-wrap" ng-repeat="item in orderDetail.djdetails">
            {{item.proname}} : {{(orderDetail.type==2?item.num:'若干')+item.uname}}
          </ion-item>
          <ion-item ng-if="orderDetail.type==2">
            交货方式 : {{orderDetail.delivery==1?'上门回收':'送货上门'}}
          </ion-item>
          <ion-item ng-if="orderDetail.type==1&&orderDetail.acttype==1">
            活动类型 : 以旧换新
          </ion-item>
          <ion-item ng-if="orderDetail.type==1&&orderDetail.shortename">
            所属厂商 : {{orderDetail.shortename}}
          </ion-item>

        </div>
      </div>
      <p></p>
      <div ng-if="orderDetail.details&&orderDetail.details.length!=0">
        <ion-item class=" item-icon-right item-borderless" ng-click="toggle(2)">
          回收清单 ( <span class="positive">交易金额 : {{orderDetail.totalprice  | currency:'￥'}}</span> )
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme2]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme2" class="orderdetails">
          <ion-item class="text-wrap" ng-repeat="item in orderDetail.details">
            {{item.proname}} : {{item.num+item.uname}} <span ng-if="item.price">( 回收价 : {{item.price}}元/{{item.uname}}  )</span>
          </ion-item>

          <ion-item>
            回收时间 : {{orderDetail.details[0].addtime | date :'yyyy-MM-dd HH:mm'}}
          </ion-item>
        </div>
      </div>
      <p></p>
      <div ng-if="commentInfo">
        <ion-item class=" item-icon-right item-borderless" ng-click="toggle(2)">
          客户评价
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=1"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=2"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=3"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=4"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=5"></span>
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme2]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme2" class="orderdetails">
          <ion-item>
            服务态度 : {{commentInfo.service==1?"满意":(commentInfo.service==2?"一般":"差")}}
          </ion-item>
          <ion-item>
            回收价格 : {{commentInfo.tranprice==1?"合理":(commentInfo.tranprice==2?"一般":"低")}}
          </ion-item>
          <ion-item>
            描述 : {{commentInfo.remark}}
          </ion-item>
        </div>
      </div>
    </ion-list>
    <p></p>
  </ion-content>
  <div class="row padding light-bg  bottom-0 row-horizontal-around" keyboard-attach
       ng-if="orderDetail.state==2||orderDetail.state==3||orderDetail.state==6">
    <button class="button  button-assertive  icon iconfont icon-jian col-40  "
            style="font-size: 1rem!important;" ng-click="closeOrder(orderDetail.djno)"
            ng-if="orderDetail.state==2||orderDetail.state==3">
      关闭
    </button>
    <button class="button button-royal icon iconfont icon-evaluate_fill col-40 " style="font-size: 1rem!important;"
            ui-sref="evaluate({no:orderDetail.djno,type:orderDetail.type})"
            ng-if="orderDetail.state==6">
      评价
    </button>
  </div>

</ion-view>

