<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back
            ui-sref="order({orderType:orderType})"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 回收单详情</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg "
               ng-class="{true:'has-button-footer'}[orderDetail.state<=4||orderDetail.state==5 ||orderDetail.orstate==2||orderDetail.orstate==3]" id="orderdetails">
    <ion-list hide-show>
      <ion-item class=" item-icon-right" ng-click="toggle(0)">
        {{type==1?orderDetail.djno:orderDetail.orno}} 状态 : <span
        class="positive">{{orderDetail.strstate}}</span>
        <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme]"
           class="icon iconfont "></i>
      </ion-item>
      <div ng-hide="showme" class="orderdetails">
        <ion-item>
          联系人 : {{orderDetail.name}}
        </ion-item>
        <ion-item class="text-wrap">
          回收品类 : {{orderDetail.category}} <span class=" {{orderDetail.hytype==1?'bhytype':'ehytype'}} ">{{orderDetail.hytype==0?'':(orderDetail.hytype==1?'废品':'二手')}}</span>
        </ion-item>
        <ion-item>
          联系电话 : {{type==1?(orderDetail.motel | hidepartinfo : 'phone'):orderDetail.motel }}
        </ion-item>
        <ion-item class="text-wrap item-icon-right">
          联系地址 : {{orderDetail.addrdetail }}({{orderDetail.area.MergerName}})
          <i ng-click="navigation(orderDetail.longitude,orderDetail.latitude)"
             class="icon iconfont icon-daohang1 positive"></i>
        </ion-item>
        <ion-item ng-if="orderDetail.addtime!='0001-01-01T00:00:00'">
          登记时间 : {{orderDetail.addtime |date :'yyyy-MM-dd HH:mm'}}
        </ion-item>
        <ion-item ng-if="orderDetail.oraddtime!='0001-01-01T00:00:00'">
          接单时间 : {{orderDetail.oraddtime |date :'yyyy-MM-dd HH:mm'}}
        </ion-item>
      </div>
      <p></p>
      <div ng-if="orderDetail.djdetails">
        <ion-item class=" item-icon-right item-borderless" ng-click="toggle(1)">
          登记{{orderDetail.type==1?'信息':'货源'}}
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme1]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme1" class="orderdetails">
          <ion-item class="text-wrap" ng-repeat="item in orderDetail.djdetails">
            {{item.proname}} : {{(orderDetail.type==2?item.num:'若干')+item.uname}}
          </ion-item>
          <ion-item ng-if="orderDetail.type==2">
            交货方式 : {{orderDetail.delivery==1?'上门回收':'送货上门'}}
          </ion-item>
          <ion-item ng-if="orderDetail.type==1&&orderDetail.acttype==1">
            活动类型 : 以旧换新
          </ion-item>
          <ion-item ng-if="orderDetail.type==1&&orderDetail.shortename">
            所属厂商 : {{orderDetail.shortename}}
          </ion-item>
          <ion-item ng-if="orderDetail.paymentmethod">
            支付类型 : {{orderDetail.paymentmethod==1?'现金支付':'在线支付'}}
          </ion-item>
          <ion-item ng-if="orderDetail.type==1&&orderDetail.order_amount.info_amount">
            信息费 : {{orderDetail.order_amount.info_amount | currency:'￥'}}
          </ion-item>
          <ion-item ng-if="(orderType==0||orderType==2)&&orderDetail.type==1&&orderDetail.order_amount.info_amount">
            扣除信息费 : {{(orderDetail.order_amount.info_amount + orderDetail.order_amount.service_amount)| currency:'￥'}}
          </ion-item>
        </div>
      </div>
      <p></p>
      <div ng-if="orderDetail.details&&orderDetail.details.length!=0">
        <ion-item class=" item-icon-right item-borderless" ng-click="toggle(2)">
          回收清单 ( <span class="positive">交易金额 : {{orderDetail.totalprice | currency:'￥'}}</span> )
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme2]"
             class="icon iconfont "></i>
        </ion-item>
        <div ng-hide="showme2" class="orderdetails">
          <ion-item class="text-wrap" ng-repeat="item in orderDetail.details">
            {{item.proname}} : {{item.num+item.uname}} <span
            ng-if="item.price">( 回收价 : {{item.price}}元/{{item.uname}} )</span>
          </ion-item>
          <ion-item>
            回收时间 : {{orderDetail.details[0].addtime | date :'yyyy-MM-dd HH:mm'}}
          </ion-item>
        </div>
      </div>
      <p></p>
      <div ng-if="commentInfo">
        <ion-item class=" item-icon-right item-borderless" ng-click="toggle(2)">
          客户评价
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=1"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=2"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=3"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=4"></span>
          <span class="iconfont icon-favorfill energized " ng-if="commentInfo.score>=5"></span>
          <i ng-class="{true:'ion-ios-arrow-right',false:'ion-ios-arrow-down'}[showme2]"
             class="icon iconfont"></i>
        </ion-item>
        <div ng-hide="showme2" class="orderdetails">
          <ion-item>
            服务态度 : {{commentInfo.service==1?"满意":(commentInfo.service==2?"一般":"差")}}
          </ion-item>
          <ion-item>
            回收价格 : {{commentInfo.tranprice==1?"合理":(commentInfo.tranprice==2?"一般":"低")}}
          </ion-item>
          <ion-item>
            描述 : {{commentInfo.remark}}
          </ion-item>
        </div>
      </div>
    </ion-list>
    <p></p>
  </ion-content>
  <div class="row padding light-bg  bottom-0 row-horizontal-around" keyboard-attach
       ng-if="orderDetail.state<=4||orderDetail.state==5 || orderDetail.orstate==2||orderDetail.orstate==3">
    <button ng-if="orderDetail.orstate==2||orderDetail.orstate==3"
            class="button button-assertive icon iconfont icon-jian col-30"
            style="font-size: 1rem!important;"
            ng-click="cancelOrder(orderDetail.orno)">
      取消
    </button>
    <button ng-if="orderDetail.state==2||orderDetail.state==3"
            class="button  button-balanced  icon iconfont icon-formfill col-30  "
            style="font-size: 1rem!important;"
            ng-click="jieDan(orderDetail.djno,orderDetail.userid,orderDetail.type,orderDetail.hytype)">
      接单
    </button>
    <button ng-if="orderDetail.state==4" class="button  button-balanced  icon iconfont icon-huishou col-30 nowrap "
            style="font-size: 1rem!important;"
            ng-click="recycle(orderDetail.orno,orderDetail.djno,orderDetail.type,orderDetail.userid,orderDetail.totalprice,orderDetail.name,orderDetail.category,orderDetail.hytype)">
      去收货
    </button>
    <button ng-if="orderDetail.state<=4" class="button button-positive icon iconfont icon-daohang1 col-30"
            style="font-size: 1rem!important;"
            ng-click="navigation(orderDetail.longitude,orderDetail.latitude)">
      导航
    </button>
    <button ng-if="orderDetail.state==5" class="button button-energized icon iconfont icon-sponsor col-30 nowrap"
            style="font-size: 1rem!important;"
            ng-click="topay(orderDetail.type,orderDetail.djno,orderDetail.orno,orderDetail.oruserid,orderDetail.userid,orderDetail.totalprice,orderDetail.name,orderDetail.informationmoney)">
      去付款
    </button>
  </div>

</ion-view>

