/* Empty. Add your own CSS if you like */

/* 网格布局row水平方向居中*/
.row-horizontal-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/* 网格布局row水平方向均匀分布左右留有距离*/
.row-horizontal-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.row-horizontal-start {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.row-horizontal-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.row-horizontal-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.border-radius-50 {
  border-radius: 50%;
}

.no-border {
  border: none;
}

.float-left {
  float: left;
}

/* 修改android平台默认样式*/
.popover {
  width: 10rem;
}

.platform-android .popover {
  margin-top: 0 !important;
  background-color: #ffffff !important;
}

.platform-android .popover .item {
  background-color: #ffffff !important;
}

.platform-android .popover-backdrop,
.platform-android .popover-backdrop.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.right-1 {
  position: absolute;
  right: 1rem;
}

.grey {
  color: #aaa;
}

.grey-bg {
  background-color: #aaa;
}

.bottom-0 {
  position: fixed;
  width: 100%;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 20px #ddd;
  box-shadow: 0px 0px 20px #ddd
}

.bottom-0 .button {
  padding: 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem !important;
}

.bottom-0 .button.icon:before, .bottom-0 .button.iconfont:before {
  font-size: 1.2rem !important;
}

.has-button-footer {
  bottom: 67px;
}

/*修改覆盖弹出框默认样式*/

.show-alert .popup, .show-confirm .popup, .show-updateconfirm .popup {
  text-align: center;
  background-color: #fff !important;
  border-radius: 0.5rem;
}

.show-alert .popup .popup-head, .show-confirm .popup .popup-head, .show-updateconfirm .popup .popup-head {
  border: none;
  padding: 8px;
  color: #585858 !important;
}

.show-alert .popup .popup-title, .show-confirm .popup .popup-title, .show-updateconfirm .popup .popup-title {
  color: #585858 !important;
}

/*.show-alert .popup .popup-body, .show-confirm .popup .popup-body, .show-updateconfirm .popup .popup-body {

}*/

.show-alert .popup .popup-buttons, .show-confirm .popup .popup-buttons, .show-updateconfirm .popup .popup-buttons {
  min-height: 2.6rem !important;
  padding: 0;
  border-top: 1px solid rgba(221, 221, 221, 0.3) !important;

}

.show-alert .button, .show-confirm .button, .show-updateconfirm .button {
  margin: 0;
  padding: 0;
  bottom: 0;
  height: 2.6rem !important;
  min-height: 2.6rem !important;
  background-color: #ffffff;
  color: #00ACFF !important;
}

.show-alert .button:first-child, .show-confirm .button:first-child, .show-updateconfirm .button:first-child {
  color: #33cd5f !important;
  border-radius: 0 0 0 0.5rem;
}

.show-alert .button:last-child, .show-confirm .button:last-child, .show-updateconfirm .button:last-child {
  border-radius: 0 0 0.5rem 0;
}

.show-alert .button:nth-child(2), .show-confirm .button:nth-child(2), .show-updateconfirm .button:nth-child(2) {
  color: #00ACFF !important;
  border-left: 1px solid rgba(221, 221, 221, 0.3);

}

/*修改覆盖ActionSheet框默认样式*/
.action-s .button {
  color: #00ACFF;
}

.list .item:first-child {
  border: none;
}

.list .item:last-child {
  border-bottom: none;
}

.item {
  border-color: rgba(221, 221, 221, 0.5) !important;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.font-size-1 {
  font-size: 1rem !important;
}

.button.full-image, .button.button-full, .bottom-0 .button {
  border-radius: 2.5rem;
}

/*loading加载框背景*/
.loading-container .loading {
  width: 4.5rem;
  height: 4.5rem;
  padding: 20px 5px;
  /*  background-color: rgba(0, 0, 0, 0);*/
}

.loading-container .loading span {
  display: inline-block;
  margin-top: 0.2rem;
}

.item-image:not(img) {
  text-align: left !important;
}

.isNotDataHint {
  width: 100%;
  height: 100%;
  color: rgba(128, 128, 128, 0.6);
  padding-top: 40%;
  text-align: center;
}

.isNotDataHint i, .isNotDataHint .iconfont {
  font-size: 5rem !important;
}

.isNotDataHint p {
  margin-top: 1rem;
}

.buttons.buttons-left .ion-ios-arrow-left:before {
  /*  font-size: 1.8rem!important;*/
}

.button.back-button {
  border: none;
}

.bar-header .button:not(.ion-ios-arrow-left):before {
  font-size: 1.5rem !important;
}

input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input) {
  background-color: #ffffff;
  cursor: not-allowed;
}

.bar-positive {
  /*  background-color: transparent;*/
  background-image: none !important;
}

/* 去掉时候点击按钮灰色边框颜色*/
.button.active, .button.activated {
  border-color: transparent !important;
  background-color: #e5e5e5;
}

/* modal显示非全屏 显示模态背景*/
.active .modal-backdrop-bg {
  background-color: rgba(0, 0, 0, 0.3);
}

/*modal 动画效果*/
.slide-in-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.slide-in-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.input-label {
  width: 28% !important;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-wrap {
  white-space: normal !important;
}

/*  ios没有导航bar状态栏兼容处理*/
.platform-ios.platform-cordova .no-nav-header {
  margin-top: 20px;
}

.item-thumbnail-left {
  padding-bottom: 0
}

.tab-item .iconfont {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.platform-android .action-sheet .button {
  text-align: center;
  border-color: transparent;
  font-size: 16px;
  color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
  text-align: center;
  font-size: 12px;
  color: #8f8f8f !important;
}

.nomarginpadding {
  margin: 0 !important;
  padding: 0 !important;
}

.iconfont {
  font-size: 1.5rem !important;
}

/*自定义图标样式*/
.icon-balance-40:before {
  content: "\e635";
  line-height: 0.8;
  font-size: 40px;
  color: #FFD700;
}

.icon-gongshangyinhang-23:before {
  content: "\e610";
  font-size: 2.3rem;
  line-height: 40px;
}

.icon-pinganyinhang-23:before {
  content: "\e61e";
  font-size: 2.3rem;
  line-height: 40px;
}

/*自定义样式*/
.f-right {
  float: right;
}

.gold {
  color: #FFD700;
}

.gold-bg {
  background-color: #FFD700;
}

.green {
  color: #0ab66a;
}

.green-bg {
  background-color: #0ab66a;
}

.skyblue {
  color: #1296db;
}

.skyblue-bg {
  background-color: #1296db;
}

#helpContent > p {
  padding: 0 20px;
}

#bankcard .iconfont {
  font-size: 2.3rem !important;
}

.col-17 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 17%;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
  max-width: 17%;
}

.col-48 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  max-width: 48%;
}

#facteSelect div img {
  max-width: 90%;
}

#facteSelect div {
  position: relative;
  display: inline-block;
  padding: 3px;
}

#facteSelect div span {
  opacity: 0;
  color: #fff !important;
}

#facteSelect div span:before {
  content: '√';
  position: absolute;
  color: #fff !important;
  font-size: 10px;
  right: 0.1rem;
  bottom: -0.3rem;
  z-index: 2000;
}

#facteSelect div span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.2rem solid #00ACFF;
  border-left: 1.2rem solid transparent;
  right: 0;
  bottom: 0;
}

#facteSelect .showSpan {
  opacity: 1;
}

#facteSelect .showDiv {
  border: 1px solid #00ACFF;
}

#facteSelect input:checked + div > span {
  opacity: 1;
}

#facteSelect input:checked + div {
  border: 1px solid #00ACFF;
}

#download {
  background: #66b6ff;
}
#download .invitedl{
  position:relative;
  padding: 0.8rem 10px 0 10px;
  height: 90%;
}
#download .invitedl img{
  margin-top:0;
  max-width: none;
  max-height: 100%;
}
#download .invitedl .invitedl-content{
  height: 25%;
  width: 85%;
  position:absolute;
  margin-left: 1rem;
  bottom: 6%;
}
#download .invitedl .invitedl-content div{
  height: 50%;
  position: relative;
}
#download .invitedl .invitedl-content div span.content1{
  width: 100%;
  height: 70%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-size: 4vw;
  font-weight: bold;
}
#download .invitedl .invitedl-content div span.content2{
  width: 100%;
  height: 35%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-size: 6.8vw;
  font-weight: bolder;
  color: #f88206;
}
#download img {
  max-width: 98%;
  margin-top: 2rem;
}
#download .iconfont{
  font-size: 1rem!important;
}
#dl-modal.modal{
  background-color: rgba(0, 0, 0, 0.6);
}
#dl-modal .card{
  background-color: #4996fe;
  margin: 0 40px;
  border-radius: 5px;
  padding: 20px 0 12px 10px;
}
#dl-modal .card h2{
  font-size: 1.2rem;
  color: #fff;
  font-family: "Microsoft YaHei";
}
#dl-modal i{
  background: #32d0fe;
  border-radius: 10%;
  padding: 0 5px;
  margin: 0 5px;
}
#dl-modal .iconfont{
  font-size: 1rem!important;
}
#dl-modal .row{
  padding: 0 20px;
}
#appoint-sure.modal {
  top: auto;
  min-height: 285px;
  height: auto !important;
  bottom: 0;
}
#pay-sure.modal {
  top: auto;
  min-height: 415px;
  height: auto !important;
  bottom: 0;
}
#payment.item-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#organizingdata .iconfont {
  font-size: 16px !important;
}

#accountinfo .icon {
  font-size: 1rem !important;
}

#accountinfo .calm {
  color: #11c1f3 !important;
}

#recycleorder .checkbox input, #recycleorder .checkbox-icon {
  width: 20px !important;
  height: 20px !important;
}

#recycleorder .item-divider {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #FFFFFF;
  min-height: 30px;
  color: #222;
  font-weight: normal;
}

#recycleorder .checkbox {
  padding-top: 11px;
}

#recycleorder .checkbox input:after, #recycleorder .checkbox-icon:after {
  -webkit-transition: opacity .05s ease-in-out;
  transition: opacity .05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 28%;
  left: 18%;
  display: table;
  width: 12px;
  height: 6px;
  border: 1px solid #fff;
  border-top: 0;
  border-right: 0;
}
.border-bottom-1px{
  margin-bottom: 1px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.6) !important;
}
#recyclewrite .padding-left{
  padding-left: 10px;
}
#recyclewrite .border-r{
  border-right: 1px solid rgba(221, 221, 221, 0.3);
}
#login .checkbox input,#login  .checkbox-icon {
  width: 20px;
  height: 20px;
}
#login .checkbox input:after, #login .checkbox-icon:after {
  -webkit-transition: opacity .05s ease-in-out;
  transition: opacity .05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 28%;
  left: 18%;
  display: table;
  width: 12px;
  height: 6px;
  border: 1px solid #fff;
  border-top: 0;
  border-right: 0;
}
#login .checkbox {
  padding-top: 11px;
}
#login .iconfont{
  font-size: 16px!important;
}
.button.button-golden {
  border-color: transparent;
  background-color: #e28504;
  color: #fff; }
.button.button-golden:hover {
  color: #fff;
  text-decoration: none; }
.button.button-golden.active, .button.button-golden.activated {
  border-color: #a2a2a2;
  background-color: #e28504; }
.button.button-golden.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #e28504; }
.button.button-golden.button-icon {
  border-color: transparent;
  background: none; }
.button.button-golden.button-outline {
  border-color: #e28504;
  background: transparent;
  color: #e28504; }
.button.button-golden.button-outline.active, .button.button-golden.button-outline.activated {
  background-color: #e28504;
  box-shadow: none;
  color: #fff; }
.searchbutton{
  border-color: transparent;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 29px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 29px;
  cursor: pointer;
}
.searchbutton-calm {
  border-color: transparent;
  background-color: #11c1f3;
  color: #fff;
}
#appoint-sure .select-category div{
  height: 60px;
  line-height: 60px!important;
}
.select-category .border-table{
  border-right: 1px solid rgba(221, 221, 221, 1);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}
.select-category .no-border-right{
  border-right:none;
}
.select-category input:checked + div {
  border: 1px solid #00ACFF;
}
#appoint-sure .select-category label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin:0;
  height: 60px;
  line-height: 60px!important;
}
#appoint-sure .select-category label i{
  font-size: 1.2rem;
}
#appoint-sure .select-category label span:before {
  content: '√';
  position: absolute;
  color: #fff !important;
  font-size: 12px;
  right: 1px;
  top: auto;
  bottom: -23px;
  z-index: 2000;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
#appoint-sure .select-category label span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.2rem solid #00ACFF;
  border-left: 1.2rem solid transparent;
  border-top: none;
  right: 0;
  bottom: 0;
  top: auto;
}
